

.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    width: 2000px;
}

.gallery img {
    width: 100%; 
    height: auto;
}

.SearchBar {
	border: 1px solid #ccc;
	padding: 2px;
	margin-top: 8px;
	font-size: 17px;
	margin-right: 16px;
	border-radius : 10px
}

.button {
 font-size : 17px;
 border-radius : 10px;
 background-color : #D3D3D3
}

.movieApp {
border-radius : 30px;
margin: auto;
width: 50%;
border: 10px solid #003D5B;
padding : 20px;
text-align : center;
background-color : #98FB98
}

.movieName {
  padding: 10px;
  border : 4px solid black;
  background-color : #EDAE49
}

.containerMovieList {
  display: flex;
  flex-wrap: wrap
}

.descBox {
  position : absolute;
  border :  2px solid;
  z-index : 10;
  background-color :  #6495ED;
  display : none;
  
}

.containerBox:hover .descBox {
 display: block;
}

/*.iframe {
  display : none;
  position : relative;
  float : left;
}*/


.containerMovieList {
  width: 300px;
  height: 600px;
  overflow-y: auto;
}



