.gallery {
    margin: 10px;
    /*border: 1px solid #ccc;*/
    /*float: left;*/
    width: 180px;
}

.gallery img {
    width: 100%; 
    height: auto;
}

.SearchBar {
	border: 1px solid #ccc;
	padding: 2px;
	margin-top: 8px;
	font-size: 17px;
	margin-right: 16px;
	border-radius : 10px
}

.button {
 font-size : 17px;
 border-radius : 10px;
 background-color : #D3D3D3
}

.movieApp {
border-radius : 30px;
margin: auto;
width: 50%;
border: 10px solid #003D5B;
padding : 20px;
text-align : center;
background-color : #98FB98
}
/*div.desc {
    padding: 15px;
    text-align: center;
}*/

/*.gallery:hover {
    border: 1px solid #777;
}
*/